// *************************************
//
//   Pagination
//   TODO: remove entirely?
//
// *************************************

.pager {
	margin: 10px 0 0;
	li a {
		color: $gray-700;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 800;
		letter-spacing: 1px;
		padding: 10px 5px;
		background: $white;
		border-radius: 0;
		color: $gray-700;

		&:hover,
		&:focus {
			color: $white;
			background: $gray-600;
			border: 1px solid $gray-600;
		}
	}
	&.blog-pager {
		margin-top: 50px;
	}
}

@media only screen and (min-width: 767px) {
	.pager li a {
		padding: 15px 25px;
	}
}

@media only screen and (min-width: 768px) {
	.pager.blog-pager {
		margin-top: 2em;
	}
}
