// *************************************
//
//   Link
//
// *************************************

a,
.link {
	color: $teal-600;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		color: $teal-700;
		text-decoration: none;
	}
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.link--dotted {
	border-bottom: 1px dotted $gray-500;
	color: $gray-800;
}

.link--highlight {
	background: linear-gradient(to bottom, transparent 0%, transparent 60%, $teal-200 60%, $teal-200 100%);
	color: $c-text;
	&:hover,
	&:focus,
	&:active {
		background: linear-gradient(to bottom, transparent 0%, transparent 0%, $teal-200 0%, $teal-200 100%);
		border: 0;
		color: $c-text;
	}
	&:visited,
	&[data-visited] {
		background: linear-gradient(to bottom, transparent 0%, transparent 60%, $gray-400 60%, $gray-400 100%);
		&:hover,
		&:focus,
		&:active {
			background: linear-gradient(to bottom, transparent 0%, transparent 0%, $gray-400 0%, $gray-400 100%);
			border: 0;
		}
	}
}

.link--text {
	color: $c-text;
	&:hover {
		color: $teal-600;
	}
}
