// *************************************
//
//   Variable config
//
// *************************************

// -------------------------------------
//   Fonts
// -------------------------------------


@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
$font-body: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
// FIXME check out variable fonts https://thetrevorharmon.com/blog/how-to-prepare-and-use-variable-fonts-on-the-web

$font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;

$font-serif: "Athelas", Georgia, serif;