<nav id="header" class="nav">
  <div class="container flex justify-between items-center mx-auto max-w-screen-xl px-4">
    <a class="link--subdued text-sm font-bold py-3" href="{{ site.url }}">Webb Henderson</a>
    <button onclick="toggleMenu()" id="menuButton" type="button" class="font-bold link--subdued text-sm lg:text-base sm:hidden px-2 py-1 my-3 border border-gray-400 dark:border-gray-700 rounded">
      <span class="sr-only">Toggle navigation</span>
      <i id="menuIcon" class="fa fa-bars fa-fw mr-1"></i>
      Menu
    </button>
    <ul class="hidden text-sm sm:flex">
      {% for link in site.navbar-links %}
      {% if link[1].first %}
      <li>
        <a class="p-3" href="javascript:void(0)">{{ link[0] }}</a>
        {% for childlink in link[1] %}
        {% for linkparts in childlink %}
        {% include navbarlink.html link=linkparts %}
        {% endfor %}
        {% endfor %}
      </li>
      {% else %}
      <li>
        {% include navbarlink.html link=link %}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>

  <ul id="mobileMenu" class="nav-mobileMenu hidden" onclick="toggleMenu()">
    {% for link in site.navbar-links %}
      {% if link[1].first %}
        <li class="px-4 py-3">
          <a href="javascript:void(0)">{{ link[0] }}</a>
            {% for childlink in link[1] %}
              {% for linkparts in childlink %}
                {% include navbarlink.html link=linkparts %}
              {% endfor %}
            {% endfor %}
        </li>
      {% else %}
        <li class="px-4 py-3">
          {% include navbarlink.html link=link %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
