<nav id="header" class="nav">
  <div class="nav-bar">
    <a class="text-gray-800 hover:text-gray-600 text-sm lg:text-base font-bold lg:p-3" href="{{ site.url }}">Webb Henderson</a>

    <button onclick="toggleMenu()" id="menuButton" type="button" class="font-bold text-gray-800 text-sm lg:text-base sm:hidden px-2 py-1 border border-gray-400 rounded">
      <span class="sr-only">Toggle navigation</span>
      <i id="menuIcon" class="fa fa-bars fa-fw mr-1"></i>
      Menu
    </button>
    <ul class="hidden sm:flex">
      {% for link in site.navbar-links %}
      {% if link[1].first %}
      <li class="p-3">
        <a href="javascript:void(0)">{{ link[0] }}</a>
        {% for childlink in link[1] %}
        {% for linkparts in childlink %}
        {% include navbarlink.html link=linkparts %}
        {% endfor %}
        {% endfor %}
      </li>
      {% else %}
      <li class="p-3">
        {% include navbarlink.html link=link %}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>

  <ul id="mobileMenu" class="hidden">
    {% for link in site.navbar-links %}
      {% if link[1].first %}
        <li class="px-4 py-3">
          <a href="javascript:void(0)">{{ link[0] }}</a>
            {% for childlink in link[1] %}
              {% for linkparts in childlink %}
                {% include navbarlink.html link=linkparts %}
              {% endfor %}
            {% endfor %}
        </li>
      {% else %}
        <li class="px-4 py-3">
          {% include navbarlink.html link=link %}
        </li>
      {% endif %}
      {% endfor %}
    </ul>

	{% if site.avatar and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="/">
	      <img class="avatar-img" src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
		</a>
	  </div>
	</div>
	{% endif %}
</nav>
