---
layout: page
permalink: /thoughts.html
---

<div class="posts-list">
  {% for post in site.posts %}
  <article class="post-preview">

    <p class="font-serif post-meta text-gray-600">
      {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <a href="{{ post.url | prepend: site.baseurl }}">
    <h2 class="post-title mb-3">{{ post.title }}</h2>
  
    {% if post.subtitle %}
    <h3 class="post-subtitle">
      {{ post.subtitle }}
    </h3>
    {% endif %}  
    </a>
  
    <div class="post-entry">
      {{ post.excerpt | strip_html | xml_escape}} <br />
      <a class="button" href="{{ post.url | prepend: site.baseurl }}">
      Read More
      </a>
    </div>
  
   </article>
  {% endfor %}
</div>
