---
layout: page
permalink: /thoughts.html
---

<div class="posts-list">
  {% for post in site.posts %}
  <article class="post-preview">

    <p class="font-serif post-meta text-gray-600">
      {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <a class="text-gray-900 hover:text-gray-600" href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">{{ post.title }}</h2>
      {% if post.subtitle %}
        <h3 class="post-subtitle">
          {{ post.subtitle }}
        </h3>
      {% endif %}
    </a>

    <div class="post-entry">
      <p class="mb-4 mt-3">{{ post.excerpt | strip_html | xml_escape}}
        <a class="link" href="{{ post.url | prepend: site.baseurl }}">
          Read more...
        </a>
      </p>
    </div>
  
   </article>
  {% endfor %}
</div>
