---
layout: page
permalink: /thoughts.html
---

<div class="pt-16">
  {% for post in site.posts %}
  <article class="post-preview">

    <span class="block font-serif post-meta text-gray-700 dark:text-gray-500 mb-3">
      {{ post.date | date: "%B %-d, %Y" }}
    </span>

    <a class="link--text" href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">{{ post.title }}</h2>
      {% if post.subtitle %}
        <h3 class="post-subtitle">
          {{ post.subtitle }}
        </h3>
      {% endif %}
    </a>

    <div class="post-entry">
      <p class="mb-4 mt-3">{{ post.excerpt | strip_html | xml_escape}}
        <a class="link--highlight" href="{{ post.url | prepend: site.baseurl }}">
          Read more...
        </a>
      </p>
    </div>

  </article>
  {% endfor %}
</div>