---
layout: default
---
<div class="ssk-sticky ssk-left ssk-center ssk-lg">
    <a href="" class="ssk ssk-twitter"></a>
    <a href="" class="ssk ssk-facebook"></a>
    <a href="" class="ssk ssk-linkedin"></a>
</div>
<article {% if page.feature-img %}class="feature-image"{% else %}class="no-feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}');">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
    {{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>
  <div class="content-wrapper">
    <section class="post-content">
        <div class="top-share ssk-group">
          <a href="" class="ssk ssk-text ssk-twitter">Tweet</a>
          <a href="" class="ssk ssk-text ssk-facebook">Share</a>
          <a href="" class="ssk ssk-text ssk-linkedin">Share</a>
      </div>
      {{ content }}
    </section>
  </div>
</article>

<!-- Post navigation -->
{% if site.theme.post_navigation %}
<div id="post-nav">
    {% if page.previous.url %}
    <a id="prev-post" href="{{ site.baseurl }}{{ page.previous.url }}">
      <span class="page-title">{{ page.previous.title }}</span>
      <span class="nav-label">
        <i class="fa fa-chevron-left"></i> {{ site.theme.str_prev }}
      </span>
    </a>
    {% endif %}
    {% if page.next.url %}
    <a id="next-post" href="{{ site.baseurl }}{{ page.next.url }}">
       <span class="page-title">{{ page.next.title }}</span>
       <span class="nav-label">
        {{ site.theme.str_next }} <i class="fa fa-chevron-right"></i>
       </span>
     </a>
    {% endif %}
</div>
{% endif %}

<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}

<!-- SSK -->
{% include ssk.html %}
